{{template "base" .}}

{{define "content"}}
<div id="main-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <!-- <iframe src="/static/pdfs/論点思考.pdf" alt="Woman and laptop"></iframe> /-->
            <a href="/static/pdfs/論点思考.pdf" alt="Woman and laptop">論点思考</a>
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>        
    </div>
</div>

{{end}}