[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
img2pdf = "*"
numpy = "*"
tqdm = "*"
pyautogui = "*"
pdf2image = "*"
pyperclip = "*"

[dev-packages]

[requires]
python_version = "3.8"
